.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  > h3 {
    margin-top: 20px;
  }

  > button {
    font-size: 14px;
    margin-top: 50px;
    width: 50%;
  }

  > mat-stepper {
    width: 50%;
  }
}

.field {
  padding: 20px;
}

@media screen and (max-width: 991px) {
  .content {
    > mat-stepper {
      width: 90%;
    }
  }
}
