<div class="content">
  <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>{{ 'onboard.stepBasicInfo.title' | translate }} </ng-template>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.stepBasicInfo.firstName' | translate }}</mat-label>
          <input matInput formControlName="firstCtrl" required>
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.stepBasicInfo.lastName' | translate }}</mat-label>
          <input matInput formControlName="lastCtrl" required>
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.stepBasicInfo.email' | translate }}</mat-label>
          <input type="email" matInput formControlName="emailCtrl" required>
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.stepBasicInfo.dob' | translate }}</mat-label>
          <input matInput placeholder="mm/dd/yyyy" [matDatepicker]="picker" formControlName="dobCtrl" required>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>{{ 'onboard.next' | translate }}</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>{{ 'onboard.stepContact.title' | translate }}</ng-template>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.stepContact.cellPhone' | translate }}</mat-label>
          <input type="tel" matInput placeholder="Cell Phone" formControlName="callCtrl" required>
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.stepContact.streetAddr' | translate }}</mat-label>
          <input matInput formControlName="streetCtrl" placeholder="Ex. 1 Main St" required>
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.stepContact.apt' | translate }}</mat-label>
          <input matInput formControlName="aptCtrl" required>
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.stepContact.city' | translate }}</mat-label>
          <input matInput formControlName="cityCtrl" required>
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.stepContact.state' | translate }}</mat-label>
          <input matInput formControlName="stateCtrl" required>
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.stepContact.zip' | translate }}</mat-label>
          <input matInput formControlName="zipCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>{{ 'onboard.back' | translate }}</button>
          <button mat-button matStepperNext>{{ 'onboard.next' | translate }}</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>{{ 'onboard.stepSSN.title' | translate }}</ng-template>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.stepSSN.ssn' | translate }}</mat-label>
          <input matInput formControlName="ssnCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>{{ 'onboard.back' | translate }}</button>
          <button mat-button matStepperNext>{{ 'onboard.next' | translate }}</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{ 'onboard.done' | translate }}</ng-template>
      <p>{{ 'onboard.messageDone' | translate }}</p>
      <div>
        <button mat-button matStepperPrevious>{{ 'onboard.back' | translate }}</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>