<div class="content">
    <!-- <h2>Kindly provide your information; Our representative will carefully assess it and respond with your quotation within the next 24 hours</h2> -->
  <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>{{ 'onboard.stepBasicInfo.title' | translate }} </ng-template>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.stepBasicInfo.firstName' | translate }}</mat-label>
          <input matInput formControlName="firstCtrl" required>
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.stepBasicInfo.middleName' | translate }}</mat-label>
          <input matInput formControlName="middleCtrl" required>
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.stepBasicInfo.lastName' | translate }}</mat-label>
          <input matInput formControlName="lastCtrl" required>
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.stepBasicInfo.email' | translate }}</mat-label>
          <input type="email" matInput formControlName="emailCtrl" ngModel [email]="true" required>
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.stepBasicInfo.dob' | translate }}</mat-label>
          <input matInput placeholder="mm/dd/yyyy" [matDatepicker]="picker" formControlName="dobCtrl" required>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div>
          <button mat-flat-button color="primary" matStepperNext>{{ 'onboard.next' | translate }}</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>{{ 'onboard.stepContact.title' | translate }}</ng-template>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.stepContact.cellPhone' | translate }}</mat-label>
          <input type="tel" matInput placeholder="Cell Phone" formControlName="callCtrl" required>
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.stepContact.streetAddr' | translate }}</mat-label>
          <input matInput formControlName="streetCtrl" placeholder="Ex. 1 Main St" required>
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.stepContact.apt' | translate }}</mat-label>
          <input matInput formControlName="aptCtrl" required>
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.stepContact.city' | translate }}</mat-label>
          <input matInput formControlName="cityCtrl" required>
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.stepContact.state' | translate }}</mat-label>
          <input matInput formControlName="stateCtrl" required>
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.stepContact.country' | translate }}</mat-label>
          <input matInput formControlName="countryCtrl" required>
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.stepContact.zip' | translate }}</mat-label>
          <input matInput formControlName="zipCtrl" required>
        </mat-form-field>
        <div>
          <button mat-flat-button mat-flat-buttonmatStepperPrevious color="accent">{{ 'onboard.back' | translate
            }}</button>
          <button mat-flat-button matStepperNext color="primary">{{ 'onboard.next' | translate }}</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>{{ 'onboard.stepSSN.title' | translate }}</ng-template>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.stepSSN.ssn' | translate }}</mat-label>
          <input matInput formControlName="ssnCtrl" required>
        </mat-form-field>
        <div>
          <button mat-flat-button matStepperPrevious color="accent">{{ 'onboard.back' | translate }}</button>
          <button mat-flat-button matStepperNext color="primary">{{ 'onboard.next' | translate }}</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup">
      <form [formGroup]="fourthFormGroup">
        <ng-template matStepLabel>{{ 'onboard.employer.title' | translate }}</ng-template>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.employer.name' | translate }}</mat-label>
          <input matInput formControlName="empNameCtrl" required>
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.employer.jobTitle' | translate }}</mat-label>
          <input matInput formControlName="empJobTitle" required>
        </mat-form-field>

        <mat-form-field class="field">
          <mat-label>{{ 'onboard.employer.startDate' | translate }}</mat-label>
          <input matInput placeholder="mm/dd/yyyy" [matDatepicker]="picker" formControlName="empStartDateCtrl" required>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>{{ 'onboard.employer.endDate' | translate }}</mat-label>
          <input matInput placeholder="mm/dd/yyyy" [matDatepicker]="picker" formControlName="empStartDateCtrl" required>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div>
          <button mat-flat-button matStepperPrevious color="accent">{{ 'onboard.back' | translate }}</button>
          <button mat-flat-button matStepperNext color="primary">{{ 'onboard.next' | translate }}</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{ 'onboard.done' | translate }}</ng-template>
      <p>{{ 'onboard.messageDone' | translate }}</p>
      <div>
        <button mat-flat-button matStepperPrevious color="primary" (click)="submit()">{{ 'onboard.agree' | translate
          }}</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>