div.app-container {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    height: 100vh;
  }
  
  ::ng-deep .cdk-overlay-pane:has(.mat-mdc-select-panel) {
    width: auto !important;
    min-width: fit-content;
  }
  
  ::ng-deep .mat-mdc-menu-panel.mat-mdc-menu-panel {
    width: auto !important;
    min-width: fit-content !important;
    max-width: fit-content !important;
  }
  
  ::ng-deep .contacts-menu-wrapper {
    padding: 8px 16px !important;
  }
  