<div class="content">
    <div class="description">
        <h1>Personal Loans with<br> low fixed rates</h1>
        <div class="benefits">
            <span>
                <mat-icon>check_circle_outline</mat-icon>
                <h3>No hidden fees</h3>
            </span>
            <span>
                <mat-icon>check_circle_outline</mat-icon>
                <h3>Next day funds</h3>
            </span>
        </div>
        <button mat-flat-button color="primary" (click)="navigate()">Check your rate</button>
        <h3>Won't affect your credit score</h3>
        <div class="whatsnext">
            <h2> What would you like to do next</h2>
            <div>
                <div class="personalLoans">
                    <mat-icon>person</mat-icon>
                    <h4>Personal loans</h4>
                    <p>Consilidate debt and more</p>
                    <button mat-button (click)="navigate()">Apply now</button>
                </div>
                <div class="loanRefinance">
                    <mat-icon>no_crash</mat-icon>
                    <h4>Car loan refinance</h4>
                    <p>Swap your car loan and save</p>
                    <button mat-button (click)="navigate()">Apply now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="graphics">

    </div>
</div>